algonquinCollegeDiscordBot/bin/Debug
algonquinCollegeDiscordBot/obj/Debug
*.resx
algonquinCollegeDiscordBot/creds.Designer.cs
.vs/
.vs/algonquinCollegeDiscordBot/v15/.suo
.vs/algonquinCollegeDiscordBot/v15/.suo
.vs/algonquinCollegeDiscordBot/v15/.suo
.vs/algonquinCollegeDiscordBot/v15/Server/sqlite3/db.lock
.vs/algonquinCollegeDiscordBot/v15/Server/sqlite3/storage.ide
.vs/algonquinCollegeDiscordBot/v15/Server/sqlite3/storage.ide-shm
.vs/algonquinCollegeDiscordBot/v15/Server/sqlite3/storage.ide-wal
.vs/algonquinCollegeDiscordBot/v15/.suo
.vs/algonquinCollegeDiscordBot/v15/Server/sqlite3/db.lock
.vs/algonquinCollegeDiscordBot/v15/Server/sqlite3/storage.ide
.vs/algonquinCollegeDiscordBot/v15/Server/sqlite3/storage.ide-shm
.vs/algonquinCollegeDiscordBot/v15/Server/sqlite3/storage.ide-wal
